<section>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="container-fluid">
    <div class="row">
      <h3 class="footer-header">Yakkee © 2017</h3>
    </div>
  <!-- </div>
  <div class="container-fluid"> -->
    <div class="row footer-links">
      <div class="col-xs-4">
        <a href="#">Privacy Policy</a>
      </div>
      <div class="col-xs-4">
        <a href="#">Terms of Use</a>
      </div>
      <div class="col-xs-4">
        <a href="#">Contact</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <!-- facebook -->
        <a href="#"><i class="fa fa-2x fa-facebook footer-social-icons" aria-hidden="true"></i></a>
      </div>
      <div class="col-sm-2">
        <!-- twitter -->
        <a href="#"><i class="fa fa-2x fa-twitter footer-social-icons" aria-hidden="true"></i></a>
      </div>
      <div class="col-sm-2">
        <!-- meetup -->
        <a href="#"><i class="fa fa-2x fa-meetup footer-social-icons" aria-hidden="true"></i></a>
      </div>
      <div class="col-sm-2">
        <!-- linkedin -->
        <a href="#"><i class="fa fa-2x fa-linkedin footer-social-icons" aria-hidden="true"></i></a>
      </div>
      <div class="col-sm-2">
        <!-- snapchat -->
        <a href="#"><i class="fa fa-2x fa-snapchat-ghost footer-social-icons" aria-hidden="true"></i></a>
      </div>
      <div class="col-sm-2">
        <!-- instagram -->
        <a href="#"><i class="fa fa-2x fa-instagram footer-social-icons" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</section>
