<section>
  <!-- <div class="parallax"></div> -->


  <div class="container text-center">
    <br>
    <div class="row-fluid">
      <div class="span10 offsetHalf">

  		<i class="icon-screenshot icon-5x" style="color:#ee1111;"></i>
      </div>
    </div>
     <br><br><br>
  	<div class="row-fluid">
        <h1 class="pull-center"><strong>Come Visit Your Friends! </strong></h1>
        <h2 class="lead pull-center">From the comfort of your own home!</h2>
  	</div>
    <br><br><br><br>
    <div class="row-fluid">

        	<div class="span5 offsetHalf block">
            <div class="pull-center">
              <h1>Responsive Design</h1>
              Take a look at what we mixed up in our Bootstrap test labs.
              Nullam sapien massa, aliquam in cursus ut, ullamcorper in tortor. <br>
              <h1><i class="icon-beaker icon-4x"></i></h1>
              <button class="btn btn-primary btn-flat">Get Started<i class="pull-right icon-chevron-right icon-large"></i></button>
            </div>
        	</div>
        	<div class="span5 block">
            <div class="pull-center">
        	 	<h1>2013 Trends</h1>
            	With all of the front-end frameworks at hand, why does Bootstrap lead?
            	Aliquam mauris arcu, tristique a, condimentum feugiat justo.<br>
            	<h1><i class="icon-fire icon-4x"></i></h1>
            	<button class="btn btn-primary btn-flat">Go There<i class="pull-right icon-chevron-right icon-large"></i></button>
            </div>
        	</div>

    </div>
   	<br><br><br>










</section>
